.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1024px;

  /* fixed temporarily to prevent vertical scroll on desktop */
  position: fixed;

  align-self: center;
}
