.cell {
  background: #021A20;
  border-radius: 10px;
  width: 23.5%;
  height: auto;
  position: relative;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
}

.cell:not(:first-child) + .cell:not(:nth-child(2)) + .cell:not(:nth-child(3)) + .cell:not(:nth-child(4)) {
  margin-top: 2%;
}

.cell:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
