.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 18px 20px 18px;
  margin-top: 25px;
  width: calc(100% - 60px);
  min-width: 314px;
  max-width: 100%;

  box-shadow: -6.43951px 1.72546px 13.3333px rgba(0, 8, 10, 0.4115),
    inset 2.70459px -0.724693px 2.8px #02252e,
    inset -2.70459px 0.724693px 2.8px #022e39;
  border-radius: 25px;
  transition: max-width .5s ease-out;
}

.header__logo {
  padding: 0;
  margin: 0;
  display: block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #ffff;
}

.header__score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 12px;
}

.header__best-score-title {
  padding: 0;
  margin: 0;
  display: block;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.header__best-score {
  padding: 0;
  margin: 0;
  display: block;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #24b685;
}

.header_active {
  max-width: 35%;
}