@import url(../vendor/normalize.css);
@import url(../blocks/root/root.css);
@import url(../vendor/fonts.css);
@import url(../blocks/header/header.css);
@import url(../blocks/main/main.css);
@import url(../blocks/rules/rules.css);
@import url(../blocks/start-button/start-button.css);
@import url(../blocks/board/board.css);
@import url(../blocks/board/_hidden/board_hidden.css);
@import url(../blocks/gamefield/gamefield.css);
@import url(../blocks/row/row.css);
@import url(../blocks/cell/cell.css);
@import url(../blocks/cell/__number/cell__number.css);
@import url(../blocks/cell/__number/_2/cell__number_2.css);
@import url(../blocks/cell/__number/_4/cell__number_4.css);
@import url(../blocks/cell/__number/_8/cell__number_8.css);
@import url(../blocks/cell/__number/_16/cell__number_16.css);
@import url(../blocks/cell/__number/_32/cell__number_32.css);
@import url(../blocks/cell/__number/_64/cell__number_64.css);
@import url(../blocks/cell/__number/_128/cell__number_128.css);
@import url(../blocks/cell/__number/_256/cell__number_256.css);
@import url(../blocks/cell/__number/_512/cell__number_512.css);
@import url(../blocks/cell/__number/_1024/cell__number_1024.css);
@import url(../blocks/cell/__number/_2048/cell__number_2048.css);
@import url(../blocks/board/__text/board__text.css);
@import url(../blocks/board/__text-info/board__text-info.css);
@import url(../blocks/board/__text-score/board__text-score.css);
@import url(../blocks/board/__btns/board__btns.css);
@import url(../blocks/board/__btn/board__btn.css);
@import url(../blocks/board/__btn/_info/board__btn_info.css);
@import url(../blocks/board/__btn/_reset/board__btn_reset.css);
@import url(../blocks/cell/__number/_new/cell__number_new.css)
