.cell__number {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .cell__number {
    width: 60px;
    height: 60px;
  }
}
